# Ignore all data files and sensitive content
/data/
*.csv
*.xlsx
*.zip

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
.env

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
